# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [7]:
def vol(r):
    pi=22/7
    z=4/3*(pi*r**3)
    return z
    # code here

In [8]:
vol(5)

523.8095238095237

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [1]:
def n(num,low,high):
    
    if num<high and num>low:
        print('the num in range')
    else:
        print("num not in range")

In [3]:
n(5,1,15)

the num in range

If you only wanted to return a boolean:

In [2]:
def ran_bool(num,low,high):
    if num<high and num>low:
        return True
    else:
        print("num not in range")

In [3]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [89]:
def up_low():
    
    
    a=0
    b=0
    sam=input("sample string:")
    for i in sam:
        if i in i.upper():
            a=a+1
        if i in i.lower():
            b=b+1
    print("expected output:")
    print("no of upper case characters:",a)
    print("no of lower case characters:",b)

In [90]:
up_low()

sample string:HELLO how are you
expected output:
no of upper case characters: 8
no of lower case characters: 12

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [4]:
def unique_list(l):
    l1=set(l)
    print(list(l1))
    
    #return l1

In [5]:
unique_list([ 1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [4]:
def multiply(*args):
    
    r=1
    
    for i in args:
        
        r=r*i
    return r

In [5]:
multiply(1,2,3,-4)

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [2]:
def palindrome():
    a=input(" ")
    if a==a[::-1]:
        print('True')
    else:
        print('False')
    # code here

In [5]:
palindrome()

 dad
True

## Given a number N.Find Sum of 1 to N Using Recursion

In [1]:
# CODE HERE
def summation(n):
    if n==1:
        return n
    else:
        return summation(n-1)+n
    
    
n = int(input())
sum = summation(n)
print(sum)

10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [66]:
def printList(n):
    a=[]
    
    
    for i in range(1,n+1):
        s=i*i
        a.append(s)
    print(a,end="  " )
        
            #print(d)

In [67]:
printList(20)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [44]:
dic={}
def printDict():
    for i in range(1,21):
        dic[i]=i*i
    print(dic)



#printDict()

In [45]:
printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [46]:
dic.values()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

In [47]:
dic.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [1]:

def ma(a):
    b=a.split(" ")
    for i in b:
        print(i,":",len(i))

In [3]:
ma("innomatics research labs")

innomatics : 10
research : 8
labs : 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [35]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def lis(li):
    

    p=list(map(lambda x:x*x,li) )
    return p

In [37]:
lis(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [82]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def even(li):
    a=list(filter(lambda x:x%2==0,li))
    return a


def square(li):
    z=list(map(lambda x:x*x,li))
    return z[1::2]
    #print(z[1::2])

# code here
# first filters number by even number and the apply map() on the resultant elements
#print(list(li))

In [83]:
even(li)

[2, 4, 6, 8, 10]

In [84]:
square(li)

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [19]:
#a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20]

def even():
    
    b=list(filter(lambda x:x%2==0,range(21)))
    return b

In [20]:
even()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [16]:
def f(n):
    if n==0:
        
        return 0
    if n==1:
        return 1
    else:
        return f(n-1)+f(n-2)
#     else:
#         f(n-1)+f(n-2)



#n = int(input("Enter n value"))
#print(f(n))

In [17]:
f(7)

13

In [ ]:
()

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)