## 1. Create Python class named `Student` and display its type

In [22]:

class student:
    """this is student class"""
    
    pass

In [25]:
print(type(student) )

<class 'type'>

<class 'type'>

## 2. How to call a variable and function by creating a simple class

In [ ]:
()

In [32]:
class Dog:
    v1='this is variable 1'
    print(v1)
    print("i'm from function",v1)
     #CODE HERE

this is variable 1
i'm from function this is variable 1

In [30]:
z=Dog()

In [31]:
z.v1

'this is variable 1'

This is Variable1
I'm from function This is Variable1

## 3. Create a class with one `static variable` and two `instace variables`

In [40]:
class Demo():
    a='i am static varible '
    b='instance_var1'
    c='instance_var2'
    
w=Demo()
print(w.a)
print(w.b)
print(w.c)

i am static varible
instance_var1
instance_var2

## 4. Create a `Vehicle` class with max_speed and mileage instance attributes

In [ ]:
# CODE HERE

In [51]:
# class with constructer with arguments
class Vehicle:
    def __init__(self,max_speed,mileage):
        
        self.max_speed=max_speed
        self.mileage=mileage
z=Vehicle(max_speed=240,mileage=80)
print(z.max_speed,z.mileage )

240 80

In [52]:
# instance attribute
class Vehicle:
    max_speed=240
    mileage=80
m=Vehicle()
print(m.max_speed,m.mileage)

240 80

## 5. Create a simple class `Person` with constructer and one argument `name`

In [ ]:
# CODE HERE

In [56]:
class person:
    def __init__(self,say_hi):
        self.say_hi=say_hi
d=person(say_hi='ram')
print('Hello, my name is',d.say_hi)

Hello, my name is ram

## 6. Create a class for `Students` information like `name, rollno, marks` and `school name` with static variable.
- create a function for displaying student information
- create one more function for getting students marks and percentage

In [ ]:
class Student:
    def __init__(self,name,rollno,marks,college)
    self.name=name
    self.rollno=rollno
    self.marks=marks
    self.college=college
    
class dictionary(student):
    def __init__(self,dictionary)
    student.__init__(self,name,rollno,marks,college)
    self.dictionary=dictionary
    
    
    
    
class percentage()
    
    # CODE HERE

Name: abc, RollNo: 1, Marks: 399, College: DIT
Dictionary :  {'name': 'abc', 'rno': 1, 'marks': 399}
percentahe of 399 out of 500 is :  79.80000000000001

## 7. Create a child class `Bus` that will inherit all of the variables and methods of the `Vehicle` class

In [ ]:
# CODE HERE

In [73]:
class Vehicle:
    def __init__(self,mileage,speed):
        self.mileage=mileage
        self.speed=speed

    
class v11(Vehicle):
    def __init__(self,name,speed,mileage):
        Vehicle.__init__(self,mileage,speed)
        self.name=name

p=v11(speed=120,mileage=12,name='school bus')
print(f'vehicle name :{p.name} speed : {p.speed} mileage : {p.mileage}')
    
    #CODE HERE

vehicle name :school bus speed : 120 mileage : 12

In [74]:
class Vehicle:
    def __init__(self,mileage,speed):
        self.mileage=mileage
        self.speed=speed

    
class v11(Vehicle):
    def __init__(self,name,mileage,speed):
        Vehicle.__init__(self,mileage,speed)
        self.name=name
    
p=v11(name="school bus",speed=120,mileage=12)
#print('vehile name'p.name,'speed'p.speed,'mileage'p.mileage)
print(f'vehicle name : school bus speed : {p.speed} mileage : {p.mileage}')   
    #CODE HERE

vehicle name : school bus speed : 120 mileage : 12

Vehicle Name: School Bus Speed: 180 Mileage: 12

## 8. Create a class `Employee` with two arguments `name and salary`
- create a function which displays the employee information
- Print total number of employees

In [18]:
class Employee:
    def __init__(self,name,salary):
        
        self.name=name
        self.salary=salary
        #self.total=2
class em1(Employee):
    def __init__(self,name,salary):
        
        Employee.__init__(self,name,salary)
class em2(Employee):
    def __init__(self,name,salary):
        
        Employee.__init__(self,name,salary)
    
    
e1=em1(name='pavan',salary=50000)
e2=em2(name='ram',salary=85000)
    
    
print(f' name :{e1.name}, salary:{e1.salary}')
print(f' name :{e2.name}, salary:{e2.salary}')
print(f"total employees :",2)

   
   #CODE HERE

 name :pavan, salary:50000
 name :ram, salary:85000
total employees : 2

In [7]:
e1.name,e1.salary

('pavan', 50000)

In [ ]:
()