# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [55]:
# CODE HERE
s={1,2,'innomatics','hub'}
s

{1, 2, 'hub', 'innomatics'}

In [56]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [57]:
# CODE HERE
s=list(s)
s

[1, 2, 'innomatics', 'hub']

In [58]:
s.insert(2,'technology')
s

[1, 2, 'technology', 'innomatics', 'hub']

In [59]:
s=set(s)
s

{1, 2, 'hub', 'innomatics', 'technology'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [43]:
# CODE HERE
sc={3,4,'hub','technology'}
sc

{3, 4, 'hub', 'technology'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [44]:
# CODE HERE
s.difference(sc)

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [60]:
s.remove(2)

In [61]:
s

{1, 'hub', 'innomatics', 'technology'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [50]:
# CODE HERE
s.intersection(sc)

{'hub', 'technology'}

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [51]:
# CODE HERE
s.union(sc)

{1, 3, 4, 'hub', 'innomatics', 'technology'}

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [62]:
# CODE HERE
fruits={"orange","apple","kiwi"}
colors=["orange","red","green"]
colors=set(colors)

In [63]:
fruits.update(colors)

In [66]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [120]:
# CODE HERE
set1={10,20,30,40,50}
set1

{10, 20, 30, 40, 50}

In [122]:
set1.remove(10)
set1.remove(20)
set1.remove(30)

In [123]:
set1

{40, 50}

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)