# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [3]:
# CODE HERE
var=input("my name is ")

my name is pavankalyan

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [ ]:
# WRITE HERE 
# The variable is store the data type
# The python has default data type is string

In [5]:
# Code Here
var="pavankalyan"
var

'pavankalyan'

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [8]:
# CODE HERE
w1=17
h=12.0
delimiter='-'
print('1.width/2',(f'{w1/2}'))
print('2.width/2.0',(f'{w1/2.0}'))
print('3.height/3',(f' {h/3}'))
print(1+2*5)
delimiter*5

1.width/2 8.5
2.width/2.0 8.5
3.height/3  4.0
11

'-----'

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [ ]:
#CODE HERE

In [1]:
var1=int(input('first number is :'))
var2=int(input('second number is:'))
print('addition of two numbers are:',(f'{var1+var2}'))

first number is :100
second number is:200
addition of two numbers are: 300

> `Question:` Add your first name and second name

In [9]:
# CODE HERE

In [1]:
var1=input('my first name is :')
var2=input('my second name is:')
var3=input('my full name is :')

my first name is :pavan
my second name is:kalyan
my full name is :pavankalyan

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [12]:
# CODE HERE

In [16]:
x,y,z,a=10,'10',True,10.5
print (x,type (x))
print (y,type (y))
print (z,type (z))
print (a,type (a))

10 <class 'int'>
10 <class 'str'>
True <class 'bool'>
10.5 <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [2]:
# CODE HERE
num_int=123
num_str="456"
num_str=int( num_str)
print('addition of 123 and 456 is=',(f'{num_int + num_str}'))

addition of 123 and 456 is= 579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [4]:
# CODE HERE
r=5
pi=22/7
volume=4/3*(pi*r**3)
print('the vloume of sphere with radiu',volume)

the vloume of sphere with radiu 523.8095238095237

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [3]:
# CODE HERE
c=24.95%40

s=(60*0.75)+2.25

t1=c*s

print(t1)

1178.8875

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)