# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [23]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [15]:
# Method 1
l.remove(3)
l

[1, 2, 4]

In [19]:
# Method 2
l.pop(2)
l

[1, 2, 4]

In [24]:
# Method 3
del(l[2])
l

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [27]:
s=[2,3,4]
s.insert(0,1)
s

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [33]:
i=[1,2,3,4]
i

[1, 2, 3, 4]

In [34]:
i.insert(2,'two_and_half')
i

[1, 2, 'two_and_half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [92]:
# CODE HERE
phrase=("don't panic!" )
list(phrase)

['d', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

In [95]:
a=list(phrase)
a.pop(-1)
a.remove("'")

In [96]:
a

['d', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

`Question:` Remove ** '** and **!** in the list

In [97]:
a=list(phrase)
a.pop(-1)
a.remove("'")

In [98]:
a

['d', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [121]:
list(s[6:9]+s[0:1] )

['p', 'a', 'n', 'd']

In [122]:
()

()

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [123]:
# CODEHERE 
a.remove("p")
a.remove("a")
a.remove("n")
a.remove("d")

In [124]:
a

['o', 't', ' ', 'n', 'i', 'c']

In [125]:
s1=["p","a","n","D"]

In [126]:
a.extend(s1)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [16]:
# CODE HERE
a=['p','a','n','D','a']
str_="".join(a)
str_

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [122]:
# CODE HERE
v=(31,24,35,85)
print("data type is:",(type(v)))
print(v)

data type is: <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [7]:
# CODE HERE
t=(31,24,35,85)
t

(31, 24, 35, 85)

In [8]:
# CODE HERE
t=list (t)

In [9]:
t.remove(35)
t

[31, 24, 85]

**Extent** tuple (85,19)

In [10]:
# CODE HERE
t1=(85,19)
t.extend(t1)
tuple(t)

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [36]:
# CODE HERE
tpl=('i','n''n','O')

In [37]:
'i'in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [81]:
# CODE HERE
q=['Hello',100,'innomatics']
q.insert(2,[200])
q

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [170]:
# CODE HERE
tpl = ("Innomatics")
list(tpl)[::-1]

['s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I']

In [9]:
tpl = (1,2,3)+(4,)
tpl1=tuple

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [3]:
a=[(10,20,30),(40,50,60),(70,80,90)]
print([i+(100,)for i in a])

[(10, 20, 30, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

In [16]:
a=[(10,20,30),(40,50,60),(70,80,90)]
print([i+(100,)   for i in a])

[(10, 20, 30, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

In [18]:
print( [i+(100,) for i in a] )

[(10, 20, 30, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [18]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[:-1]+(100,) for i in tpl])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [191]:
# CODE HERE
a=[5,2,3,6,6,5]
a.sort()
print("the second highest values",a[-3])

the second highest values 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [8]:
# CODE HERE
l=[12,24,35,70,88,120,155]
l.remove(12)
l.remove(88)
l.remove(120)

In [9]:
l

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [222]:
a=len(tpl)//2

In [223]:
a

5

In [224]:
tpl=(1,2,3,4,5,6,7,8,9,10)
t1=[]
t2=[]
for i in range (len(tpl)):
    if i<a:
        t1.append(tpl[i])
    if i>a:
        t2.append(tpl[i])

In [225]:
tuple(t1),tuple(t2)

((1, 2, 3, 4, 5), (7, 8, 9, 10))

In [165]:
tuple(l1),tuple(l2)

((1, 2, 3, 4, 5), (7, 8, 9, 10))

In [163]:
l2

[7, 8, 9, 10]

In [6]:
tpl=(1,2,3,4,5,6,7,8,9,10)
print(tpl[:5],tpl[5:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [145]:


n=(1,2,3,4,5,6,7,8,9,10)
p=[]
z=[]
for i in range(1,6):
    p.append(i)
for j in range(6,11):
    z.append(j)
print(tuple(p),tuple(z))

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [30]:
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [19]:
t=(1,2,3,4,5,6,7,8,9,10)

for i in t:
    
    if i%2==0:
        
        print(i,end=" ")

2 4 6 8 10

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
#list[]
#1.it is a sequence of the data structure/collection of items.
#2.it is mutable.
#3.mutable means we can modify the data.
#4.it suppprts index and slicing.

In [ ]:
# tuple()
#1. it is similar to the list.
#2. it is immutable.
#3. we can't update the data.
#4. it supports indexing and slicing.

### 2. Explain the difference between append() and extend() with examples

In [104]:
# Solution 
# append () this is used for the add the single values in list
#extend()()

# append()
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [105]:
# extend()this is used to add multiple values at aime in list
a1=[5,6,7,8,9,'hai']
a.extend(a1)

In [106]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hai']

### 3. Explain the difference between pop() and remove() with examples

In [107]:
# Solution 
# pop() this is used to remove the value by index number
a.pop(9)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
# remove () thisis used to remove the value when we don't known the index number
a.remove(9)
a

[1, 2, 3, 4, 5, 6, 7, 8]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)