# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [2]:
# CODE HERE
person1={'name':'john','gender':'male','occupation':'data scientist','location':'nizampet,hyderabad'}

In [9]:
person1

{'name': 'john',
 'gender': 'male',
 'occupation': 'data scientist',
 'location': 'nizampet,hyderabad'}

In [10]:
person1

{'name': 'john',
 'gender': 'male',
 'occupation': 'data scientist',
 'location': 'nizampet,hyderabad'}

> print keys in person1 as a list

In [11]:
# CODE HERE
person1.keys()

dict_keys(['name', 'gender', 'occupation', 'location'])

> **`Question:` Remove Location in person1**

In [12]:
# CODE HERE
person1.pop('location')

'nizampet,hyderabad'

In [23]:
person1['name']='pavankalyan'
person1

{'name': 'pavankalyan',
 'gender': 'male',
 'occupation': 'data scientist',
 'location': 'nizampet,hyderabad'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [3]:
# CODE HERE
person2={'name':'raghu ram','gender':'male','age':25,'occupation':'data scientist'}

In [27]:
person2

{'name': 'raghu ram',
 'gender': 'male',
 'age': 25,
 'occupation': 'data scientist'}

In [26]:
person2

{'name': 'raghu ram',
 'gender': 'male',
 'age': 25,
 'occupation': 'data scientist'}

> **`Question:` Print the output as show below**

In [8]:
# CODE HERE
print('======person1=========',person1)
print('======person2==========',person2)

======person1========= {'name': 'john', 'gender': 'male', 'occupation': 'data scientist', 'location': 'nizampet,hyderabad'}
======person2========== {'name': 'raghu ram', 'gender': 'male', 'age': 25, 'occupation': 'data scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [32]:
# CODE HERE
s={1:1,2:4,3:9,4:16,5:25,6:36,7:49}
s

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [33]:
s.pop(1)
s

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [34]:
del(s[2])

In [29]:
s

{3: 9, 4: 16, 5: 25, 6: 36, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [37]:
# CODE HERE

u={0:0,1:1,3:9,5:25,7:49,9:81}
a=list(u.values())
        
a

[0, 1, 9, 25, 49, 81]

In [40]:
a.reverse()
a

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [44]:
# CODE HERE
dict1 = {'a':1,'b':2}
dict2={'b':3,'c':4}
dict3={'c':5,'d':6}
merged_dict={**dict1,**dict2,**dict3}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [69]:
# CODE HERE
sample_dict={
    'emp1':{'name': 'Jhony', 'salary': 7500},
    'emp2':{'name': 'Ravi', 'salary': 8000},
    'emp3':{'name': 'Charan', 'salary': 6000}
}

In [70]:
type(sample_dict )

dict

In [71]:
type('emp3')

str

In [72]:
sample_dict.keys()

dict_keys(['emp1', 'emp2', 'emp3'])

In [73]:
sample_dict ['emp3']['salary']=8500

In [74]:
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [10]:
sampleDict = { "class": { "student": { "name": "Mike", "marks": { "physics": 70, "history": 80 } } } }

In [15]:
print(sampleDict["class"]["student"]["marks"]["history"])

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

a={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [114]:
a={'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
a.pop('Area')
a

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

In [117]:
a['location']='nizampet,hyderabad'
a

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'location': 'nizampet,hyderabad'}

In [15]:
database={'ram':1234,'raghu':5678,'kalyan':1466}

In [22]:
username=input("enter user name ")
if username in database:
    print("user exist")

    userpassword=int(input(" enter password"))
    if userpassword==database[username]:
        print("hello",username)
        
        
    elif database[username]!= userpassword:
        new_pass=int(input("Enter new password"))
        database[username]=new_pass
        
        
    #elif database[username]!=userpassword:
        
        
    
print(database)

enter user name kalyan
user exist
 enter password1596
Enter new password1111
{'ram': 1478, 'raghu': 5678, 'kalyan': 1111}

In [2]:
pwd

'C:\\Users\\HAREESH\\Downloads\\1571706-05_-_Dictionary_-_execrise'

In [ ]:
()

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)