# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [9]:
#CODE HERE
n=int(input("minute :"))
if n%2!=0:
    print("This is odd minute")

minute :53
This is odd minute

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [13]:
#CODE HERE
a,b="saturday","sunday"
w=input("Today is :")

if w==a:
    print("party !!!")
elif w==b:
    print("take rest")
else:
    print("not match")

Today is :sunday
take rest

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [24]:
#CODE HERE
for i in range(2000,3200):
    if i%7==0 and i*5!=0:
        print(i,end=",")

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199,

In [2]:
for i in range (2000,3200):
    if i%7==0 and i%5!=0:
        print(i,end="/")

2002/2009/2016/2023/2037/2044/2051/2058/2072/2079/2086/2093/2107/2114/2121/2128/2142/2149/2156/2163/2177/2184/2191/2198/2212/2219/2226/2233/2247/2254/2261/2268/2282/2289/2296/2303/2317/2324/2331/2338/2352/2359/2366/2373/2387/2394/2401/2408/2422/2429/2436/2443/2457/2464/2471/2478/2492/2499/2506/2513/2527/2534/2541/2548/2562/2569/2576/2583/2597/2604/2611/2618/2632/2639/2646/2653/2667/2674/2681/2688/2702/2709/2716/2723/2737/2744/2751/2758/2772/2779/2786/2793/2807/2814/2821/2828/2842/2849/2856/2863/2877/2884/2891/2898/2912/2919/2926/2933/2947/2954/2961/2968/2982/2989/2996/3003/3017/3024/3031/3038/3052/3059/3066/3073/3087/3094/3101/3108/3122/3129/3136/3143/3157/3164/3171/3178/3192/3199/

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [6]:
def fact(n):
    if n==1:
        return n
    else:
        return fact(n-1)*n

In [12]:
fact(8)

40320

In [9]:
#CODE HERE
def  fact(n):
    if n==1:
        return n
    else:
        print('the factorial of given number:8')

        return fact(n-1)*n

In [10]:
fact(8)

the factorial of given number:8
the factorial of given number:8
the factorial of given number:8
the factorial of given number:8
the factorial of given number:8
the factorial of given number:8
the factorial of given number:8

40320

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [23]:
s={}
def interal(a):
    for i in range(a) :
        s[i]= i*i
    print(s)

In [24]:
interal(8)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [3]:
#CODE HERE
def di(a):
    dic={}
    for i in range(1,a+1):
        dic[i]=i*i
    print(dic)

In [4]:
di(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for 
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [1]:
#CODE HERE

a=int(input("please enter the value:"))
b=int(input("please enter the value"))
print(r'enter the keyword{add,sub,mul,div,pow}:pow')
print(f'power of 8 by 6 is:{a**b}' )

please enter the value:8
please enter the value6
enter the keyword{add,sub,mul,div,pow}:pow
power of 8 by 6 is:262144

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [37]:
a="hello12451665622"
b=0
c=0
for i in (a):
    if i.isalpha():
        b=b+1
    if i.isdigit():
        c=c+1
print(b)
print(c)

5
11

In [33]:
a="Hello321Bye360"
b=0
z=0
for i in a:
    if i.isalpha():
        b+=1
    if i.isdigit():
        z+=1
        
print("letter",b) 
print('digit',z)

letter 8
digit 6

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [4]:
# METHOD - 1
#tpl1=(1,2,3,4,5,6,7,8,9,10)
for i in range(1,6):
        print(i,end=" ")
print()
for i in range(6,11):
    print(i,end=" ")

1 2 3 4 5
6 7 8 9 10

In [14]:
# METHOD - 2
t1=(1,2,3,4,5,6,7,8,9,10)
a=[]
b=[]
for i in range(1,6):
    a.append(i)
for i in range(6,11):
    b.append(i)
print(tuple(a), tuple(b) )

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [42]:
# METHOD - 3
t1=(1,2,3,4,5,6,7,8,9,10,11)
l1=[]
l2=[]
for i in range (1,6):
    l1.append(i)
for j in range(6,11):
    l2.append(j)

In [47]:
print(l1,l2)

[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

In [46]:
print(l1)
print(l2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [64]:
t=(1,2,3,4,5,6,7,8,9,10)
t1=[]
for i in t:
    if i%2==0:
        t1.append(i)
print(tuple(t1),end=" ")

(2, 4, 6, 8, 10)

In [6]:
text = input("Please type something. --> ")

Please type something. --> yes
Yes

In [10]:
text=input("please type something.-->")
if text=='yes' or text=="YES":
    print('YES')
else:
    print('NO')

please type something.-->YES
YES

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [15]:
import random
event=[random.randint(100,200) for i in range(5)]

In [16]:
permitted=list(filter(lambda x:x>=100,event))
permitted

[148, 145, 185, 104, 151]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [21]:
import random
event3=(random.uniform(5,95) for i in range(1))

In [22]:
float1=list(filter(lambda x:x>=5,event3))
float1

[59.0996685192239]

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [1]:
#.1 unique values
a=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
b=set(a)
b

{1, 3, 4, 5, 6, 7, 8}

In [10]:
#.2 count how many times each number exist
a.count(1),a.count(3),a.count(4),a.count(5),a.count(6),a.count(7),a.count(8)

(4, 2, 3, 1, 1, 1, 3)

In [11]:
#.3 print the number which is occured more  number of times
a.index(1)

0

In [2]:
# count of occured number in list
a.count(1)()

4

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)